body {
    margin: 0;
    background: linear-gradient(to bottom, blue, rgb(2, 76, 100));
    font-family: 'Courier New', Courier, monospace;
}

.heading {
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
    color: white
}

.info-text {
    color: white;
    text-align: center;
    font-size: 18px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 30px;
    justify-content: center;
    padding: 40px;
}

.note {
    box-sizing: border-box;
    color: lightblue;
    background: rgba(255, 255, 255, .1);
    /*background: rgba(255, 255, 0, .1);*/
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    resize: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    font-size: 16px;
    height: 200px;
}

.note::placeholder {
    opacity: 80%;
}

.note:hover,
.note:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    transition: all 300ms ease;
}

.btn {
    font-size: 60px;
    height: 200px;
    border: none;
    border-radius: 15px;
    background: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .3);
    cursor: pointer;
}

.btn:hover {
    background: rgba(255, 255, 255, .2);
    color: rgba(0, 0, 0, .3);
    transition: all 300ms ease;
}